body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#logo {
   float: left;
   height: 3.7rem;
   background-size: contain;
   margin-left: 18rem;
   
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
  li, #logo {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 22px 16px;
    margin-left: 15px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-family: sans-serif ;
    font-size: 13px;

  }
  li a:hover:not(.active) {
    color: grey;
  }

#noti {
    height: 1.5rem;
    float: right;
    margin-right: 40rem;
    margin-left: 17rem;
    padding: 16px 16px;

}

#waffle {
    height: 1.2rem;
    float: right;
    padding: 19px 16px;
}

#haku {
    height: 1.5rem;
    float: right;
    padding: 16px 16px;
    

}

.navibaari {
    border-bottom: solid 1px rgb(193, 188, 188);
    box-shadow: 2px 2px 5px #cbc9c9;
}

.ala {
    color: grey;
    font-weight: 50;
    font-size: 0.8rem;
}

#paikka {
    height: 33rem;
}

#leuka {
    height: 30rem;
}

#video {
    height: 30rem;
}

#dino {
    height: 32rem;
}

.teksti {
    font-size: 1.2rem;
    font-weight: 50;
    margin-right: 40rem;
    margin-left: 25rem;
    width: 35%;
    word-wrap: break-word;
    padding-top: 19px;
    font-family: sans-serif ;
}

h1 {
font-size: 2rem;
}

.iso {
    color: gray;
}

.link {
    color: rgb(0, 0, 154);
    font-weight: 550;
}

footer {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 550;
}

.foter {
    color: gray;
}