body, html {
    height: 100%;
    margin: 0;
    text-align: center;
}
#nappi, #nappi2 {
    width: 100px;
    height: 25px;
}

#etunimi, #sukunimi, #email, #paivays, #ika {
    width: 175px;
    height: 25px;
}

h1 {
    font-size: 60px;
}

#boxi {
    padding: 5px;
    margin: auto;
    border: 5px solid black;
    width: 550px;
    font-size: 35px;
    color: black;
    background-color: whitesmoke;
}

.bg {
    background-image: url(https://wallpaperboat.com/wp-content/uploads/2022/05/21/81956/soft-aesthetic-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

}